<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body ng-app="quizRT">
  hello.....
    <div ng-view>

    </div>
    <script type="text/javascript" src='js/lib/jquery-2.1.4.js'></script>
    <script type="text/javascript" src='js/lib/bootstrap.min.js'></script>
    <script type="text/javascript" src='js/lib/socket-io-1.3.7.js'></script>
    <script type="text/javascript" src='js/lib/angular.min.js'></script>
    <script type="text/javascript" src='js/lib/angular-route.min.js'></script>
    <script type="text/javascript" src='js/routeProvider.js'></script>
</body>
</html>
