html,.view-container {
	height:100%;
}
body {
	padding-top: 5px;
	background-color: #524f4f;
	color: #ccc;
	font-size: 12px;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;

}

 a ,a:active, a:visited{
  text-decoration: none;
  color: #ccc;
}

.row{
	padding-left: 5px;
	padding-right: 5px;
}

.container{
background-color: #2f2d2d;
width: 80%;
margin:auto;
border-radius: 5px;
margin-top:5px;

}

.topic-panel{
background:grey;
}

.fullHeight{
  height:100%;
}

.topic-panel-name{
}

a {
	color: #00B7FF;
}

.submit-btn {
	background-color: #b1dbff;
	margin: 10px 0 10px 0;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: #f2f9ff;

}
.even {
	background-color: #eceff3;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}
