body{
  background-color: #524f4f;
  color: #ccc;
  font-size: 12px;
}
.container{
/*border-style: solid;
border-width: medium;
border-color: #AAA;*/
background-color: #2f2d2d;
width: 62%;
margin-left: 19%;
margin-right: 19%;
border-radius: 5px;
padding: 20px;
margin-top:5px;
}

#Quizzer{
  background-color:#337ab7;
  text-align:center;
  color:white;
  padding-top: 15px;
}

@media (max-width:550px){
  h4{font-size: 1.1em;}
  h6{
    font-size:8px;
  }

  h2{font-size:1.5em;}

  h3{font-size: 1.2em;}

  .container{
  /*border-style: solid;
  border-width: medium;
  border-color: #AAA;*/
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  padding: 20px;
  margin-top:5px;
  }

  .topicsinfo .badge{
    position: absolute;
    top:0;
    right:20px;
    width:15px;
    font-size: 8px;
  }

  .Gamesinfo{
    color:white;
  }

  #badge,#country,#age{
    font-size: 1em;
    padding-bottom: 4px;
  }

  #games{
    font-size: 1em;
    margin-bottom: 5px;
  }

  #UserName{
    padding-right: 3px;
    border-right: 1px pink solid;
    font-size: 1em;
  }

  .topicsinfo .col-xs-2 .topicName{
    font-size: 9px;
  }

  .topicsinfo .col-xs-2 .wins{
    font-size: 7px;
    font-weight: bold;
  }
  #Quizzer{
    font-size: 2em;
  }

  .winpic
 {
   height:30px;
 }
 .topicsinfo .topicsholder{
   width:25%;
   height:40%;
   padding: 5px 5px 5px 5px;
 }
 .topicsholder img
 {
   height:60%;
   width:70%;
 }

}

@media(min-width:550px){

  h4,h6{font-size: 16px;}

  p{font-size:18px;}

  #button-height a{
    font-size:20px;
  }

  .topicsinfo .badge{
    position: absolute;
    top:0;
    right:50px;
    width:30px;
    font-size: 16px;
    background-color: #337ab7;
    border-radius: 2px;
  }

  #GamesInfo{
    color:white;
  }

  .topicsinfo .col-xs-2 .topicName{
    font-family: Bitter;
    font-size: 16px;
    padding-left:2px;
  }

  .topicsinfo .col-xs-2 .wins{
    margin-left: 0;
    font-size: 14px;
    font-weight: bold;
  }

  #badge,#country{
    font-size: 20px;
  }

  .Following,.Followers,.game{
    font-size: 20px;
    margin-bottom: 7px;
  }

  #UserName{
    padding-right: 3px;
    border-right: 1px  red solid;
    font-size: 20px;
  }
  .topicsinfo .topicsholder{
    width:25%;
    height:80%
    padding: 5px 5px 5px 5px;
  }
  .topicsholder img
  {
    height:70%;
    width:70%;
  }
  #Quizzer{
    background-color:#337ab7;
    text-align:center;
    color:white;
    font-size: 30px;
    padding-top: 15px;
  }
    #GamesInfo{
        border-left: 2px red solid;
      padding-top:5px;
      color:white;
    }

      #topics{
        background-color:lightyellow;
        font-size:23px;
        color:black;
        text-align: center;
      }


        .topicsinfo{
          margin-bottom: 5px;
        }
        .winpic
       {
         height:60px;
       }


} /* end media queries */
@media (min-width: 900px) {
  body{
    background-color: #524f4f;
    color: #ccc;
  }
.container{
  /*border-style: solid;
  border-width: medium;
  border-color: #AAA;*/
  background-color: #2f2d2d;
  width: 62%;
  margin-left: 19%;
  margin-right: 19%;
  border-radius: 5px;
  padding: 20px;
  margin-top:5px;
}
}

.wins{
  color: #72af21;
}

.btn-height
{
height:100%;
}
#foot .btn1 {
            background-color: green;
            color:white;
            height:100%;
            padding:0px 0px 0px 0px;
            font-size: 20px;
  }

  #foot .btn2 {
    background-color: red;
    color:white;
    height:100%;
      padding:0px 0px 0px 0px;
        font-size: 20px;
  }

 #foot .btn3 {
    background-color: rgb(194, 214, 29);
    color:white;
    height:100%;
      padding:0px 0px 0px 0px;
       font-size: 20px;
  }



  .usermiddle{

    color:white;
  }

  .user{
    background-color:rgb(67, 73, 74);
    padding-top: 30px;
  }

 #win{
  text-align: center;

}
#games
{
  text-align: center;
}
#age
{
  padding-left: 3px;
}
 #winpercentage
{
  text-align: center;
}
.topicsinfo{
  padding-top:20px;
}
