<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

  <div class="container" >
		<div class="row" id="Quizzer">
			<a href="#/userProfile" class="col-xs-offset-1 col-xs-9">
				Quizart
			</a>
			<div class="col-xs-2">
				<a ng-click="logout()" class="glyphicon glyphicon-off">
				</a>
			</div>
		</div>

  <div class="row topic-info" ng-repeat ="category in categories">
      <div class="row">
        <h4 class ="topic-category-name col-xs-9 pull-left ">{{category.categoryName}}</h4>
      </div>

			<div class="topicsholder"  ng-repeat ="topic in category.categoryTopics|limitTo:5">

			<div class="topic-panel panel panel-default">
				<div class="panel-body content">
					<div ng-click="showTopic(topic._id)" class="topic-icon">
						<a href="" class="topicPlay"><img ng-src="{{topic.topicIcon}}" alt=""></a>
					</div><!--end topic-icon-->
				</div>
			<div class="panel-footer">
					<div ng-click="showTopic(topic._id)">
						<p>{{topic.topicName}}</p>
					</div>
				</div>
			</div>
		</div>

	</div> <!--topic info ends every category row -->
 <!-- end topicinfo row -->
		<div id="foot" class="row">
			<div col-xs-12 class="play-button-bar">
			</div>
		</div>
</div>
