<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

  <div class="container" id="main">
		<div class="row" id="Quizzer">
			<div class="col-xs-offset-1 col-xs-9">
				Quizart
			</div>
			<div class="col-xs-2">
				<a ng-click="logout()" class="glyphicon glyphicon-off">
				</a>
			</div>
		</div>

		<div class="row user">
			<div class="col-xs-offset-1 col-xs-5 col-sm-offset-0	col-sm-2">
				<img ng-src="{{data.imageLink}}"  width="120px" height="120px"  class="img-circle img-responsive pull-left">
			</div>
			<div class="col-xs-6 col-sm-4 usermiddle">
				<h4>{{data.name}},
			{{data.age}}</h4>
				<h5>{{data.badge}}</h5>
			<!--	<span id="flag"><img ng-src="{{data.flagLink}}" alt="user image" width="30px" height="30px" class="img-rounded">
			</span> -->
				<h6 id="country">{{data.country}}</h6>

			</div>

			<div class="col-xs-12 col-sm-6" id="GamesInfo">
				<div class="row info">
				<div class=" col-xs-4" id="games">
					<span class="glyphicon glyphicon-tower glyph"></span>
					<p>Games</br>{{data.totalGames}}
					</p>
				</div>
				<div class="col-xs-4" id="win">
					<span class="glyphicon glyphicon-thumbs-up glyph"></span>
					<p>Wins</br>{{data.wins}}
					</p>
				</div>
				<div class="col-xs-4" id="winpercentage">
					<span class="glyph glyphicon glyphicon-stats"></span>
					<p>Win%<br>{{data.wins/data.totalGames*100 | number : 2}}%
					</p>
				</div>
		</div>
		</div>
	</div>


  //

  <div class="row collection-widget" ng-repeat ="category in categories">
    <div class="collection-widget-inside">

      <div class="row">
        <h4 class ="topic-category-name col-xs-9 pull-left ">{{category.categoryName}}</h4>
        <a class="col-xs-3 btn btn-default more-button pull-right" ng-click="showCategory(category._id)">More..</a>
      </div>

      <div class="row topics-container" >
        <div class="topics-container-inside">
          <div  class="topic col-xs-3" ng-repeat ="topic in category.categoryTopics|limitTo:5">
            <div ng-click="showTopic(topic._id)" class="topic-icon">
              <a href="" class="topicPlay"><img ng-src="{{topic.topicIcon}}" alt=""></a>
            </div><!--end topic-icon-->
            <div ng-click="showTopic(topic._id)">
              <a href=""><span class="topic-name">{{topic.topicName}}</span><br/></a>
            </div>
            <div ng-click="showCategory(category._id)">
              <a href=""><span class="category-name">{{topic.topicCategory[0]}}</span></a>
            </div>
          </div><!--end to  pic-->
        </div><!--end topics-container-inside-->
      </div><!--end topics-container-->

    </div><!--collection-widget-inside-->
  </div><!--end collection-widget-->

  	<div class="row topic-info" ng-show="topicsFollowed.length > 0">
			<div class="topicsholder"  ng-repeat="topic in topicsFollowed|limitTo:a|orderBy:'-level'">

			<div class="topic-panel panel panel-default">
			  <div class="panel-body content">

					<a><img ng-src="{{topic.topicId.topicIcon}}" ng-click="showFollowedTopic(topic.topicId._id)"></a>
					<span class="badge">{{topic.level}}</span>

			  </div>

			  <div class="panel-footer">
					<p>{{topic.topicId.topicName}}</p>
					<span class="win-loss">
					<span class="wins">{{topic.gamesWon}}</span> /<span class= "played"> {{topic.gamesPlayed}} </span>
				</span>
								  </div>
			</div>
		</div><!-- end topicsholder-->

				<div class="col-xs-3 topicsholder" ng-if="topicsFollowed.length>11">
					<div>
						<button ng-if="topicsFollowed.length>=8" ng-click="seeHide(topicsFollowed.length)"><img ng-src="{{btnImg}}" class="img-rounded"></button>
					</div>
	 	 </div>

		</div> <!-- end topicinfo row -->
		<div id="foot" class="row">
			<div col-xs-12 class="play-button-bar">
					<button class="play-now-button btn btn-success" ng-click="play()">More Topics</button>
			</div>
			</div>
</div>
