<div class="container fullHeight">

  <div class="row" id="Quizzer">
    <a href="#/userProfile" class="col-xs-offset-1 col-xs-9">
      Quizart
    </a>
    <div class="col-xs-2">
      <a ng-click="logout()" class="glyphicon glyphicon-off">
      </a>
    </div>
  </div>

  <div class="content">
    <div class="">
      <div class="topic-header">
        <h1>{{topic.topicName}}<br><small>{{topic.topicDescription}}</small></h1>
      </div><!--end topic-header-->


      <div class="row">
        <div class="col-xs-6 topic-icon">
          <img ng-src="{{topic.topicIcon}}"  class="img-responsive" alt="">
          <div class="follow">
            <h3>
            <span class="glyphicon glyphicon-heart" ng-hide="topic.isFollowed" ng-click="followUnfollow()"></span>
            <span class="glyphicon glyphicon-heart-empty" ng-show="topic.isFollowed" ng-click="followUnfollow()"></span>
            <span>{{topic.topicFollowers}}</span>
          </h3>
          </div>
        </div><!--end topic-icon-->
        <div class="col-xs-6 topic-user">
          <div class="wins row">
            <div class="col-xs-8">
              <h4>#Wins</h4>
            </div>
            <div class="col-xs-4" id="numwins">
              <h4>{{topic.topicWins}}</h4>
            </div>
          </div> <!--end wins-->
          <div class="losses row">
            <div class="col-xs-8">
              <h4>#Losses</h4>
            </div>
            <div class="col-xs-4" id="numloss">
              <h4>{{topic.topicLosses}}</h4>
            </div>
          </div> <!--end losses-->
          <div class=" losses row">
            <div class="progress col-xs-10">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" id="level-bar" style="width:{{topic.levelPercentage}}%">
                Level <span id="levelnum">{{topic.topicLevel}}</span> <span id="levelperc">{{topic.levelPercentage}}</span>% Complete (success)
              </div>
            </div>
          </div>

        </div> <!--end topic-user-->
      </div><!--end row-->
      <hr>
    </div><!--end topic-info-->
    <div id="foot" class="row">
			<div  class="col-xs-12 play-button-bar">
					<a ng-href="/#/quizPlayer" id="startGameButton" class="btn btn-success">Play Now</a>
			</div>
		</div>
    <!-- <div class="play-button">
      <div>
        <a id="startGameButton" ng-href="/#/quizPlayer">Play ----</a>
      </div>
    </div><!--end play-button-->

  </div><!--end content-->

</div><!--end container-->
<!--
<script type="text/javascript">
       var a=$('.topic-user').height();
       var b=$('.topic-icon img').height(a);
       var a=$('.leaderboard label').height();
       var b=$('.leaderboard img').height(a);
       var a=window.outerHeight;
       var b=($('.topic-info').innerHeight());
      $('.play-button button').outerHeight(0.5*(a-b));
</script> -->
