<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<div>
	<div class="container" id="main">
		<div class="row" id="Quizzer">
			<div class="col-xs-12">
				Quizart
			</div>
		</div>

		<div class="row user">
			<div class="col-xs-3">
				<img ng-src="{{data.imageLink}}"  width="120px" height="120px"  class="img-circle img-responsive pull-right">
			</div>
			<div class="col-xs-4 usermiddle">
				<span id="UserName">{{data.name}}
				</span>
				<span id="age">{{data.age}}</span>
				<div id="badge">{{data.badge}}</div>
				<span id="flag"><img ng-src="{{data.flagLink}}" alt="user image" width="30px" height="30px" class="img-rounded">
				</span>
				<span id="country">{{data.country}}</span>

			</div>

			<div class="col-xs-5 Followinfo">

				<div class="game">
					<span>Games: </span>
					<span>{{data.totalGames}}</span>
				</div>
				<div class="Followers">
					<span>Followers:  </span>
					<span>23</span>
				</div>
				<div class="Following">
					<span>Following: </span>
					<span>58</span>
				</div>

			</div>
		</div>


		<div class="row" id="Games">
			<div class="col-xs-12" id="cent">
				Games
			</div>
		</div>
		<div class="row" id="GamesInfo">
			<div class="col-xs-4" id="win">
				<img  class="winpic" src ="/images/userProfileImages/win.png" class="img-circle img-responsive" >
				<p>Wins</br>{{data.wins}}
				</p>
			</div>
			<div class="col-xs-4" id="loss">
				<img class="winpic" src ="/images/userProfileImages/loss.png" class="img-circle img-responsive">

				<p>Losses</br>{{data.totalGames - data.wins}}
				</p>
			</div>
			<div class="col-xs-4" id="winpercentage">
				<img class="winpic" src ="/images/userProfileImages/winpercent.png" class="img-circle img-responsive">

				<p>Win%<br>{{data.wins/data.totalGames*100 | number : 2}}%
				</p>
			</div>
		</div>
		<div class="row" id="topics">
			<div class="col-xs-12">
				Followed Topics
			</div>
		</div>
		<div class="row topicsinfo">
			<div class="col-xs-3 topicsholder" ng-repeat="topic in topicsFollowed|limitTo:a|orderBy:'-level'">
				<div>
					<a><img ng-src="{{topic.topicId.topicIcon}}" ng-click="showFollowedTopic(topic.topicId._id)" class="img-rounded img-responsive" height="120px"></a>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<span class="topicName">{{topic.topicId.topicName}}</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<span class="wins">{{topic.gamesWon}}/{{topic.gamesPlayed}}</span>
					</div>
				</div>
				<span class="badge">{{topic.level}}</span>
			</div>

				<div class="col-xs-3 topicsholder" ng-if="topicsFollowed.length>11">
					<div>
						<button ng-if="topicsFollowed.length>=8" ng-click="seeHide(topicsFollowed.length)"><img ng-src="{{btnImg}}" class="img-rounded img-responsive" height="150px"></button>
					</div>
	 	 </div>

		</div> <!-- end topicinfo row -->
		<div class="newrows">
		</div>
		<div id="foot" class="row">
					<button class="btn btn1 col-xs-4 btn-height">Home</button>
					<button class="btn btn2 col-xs-4 btn-height">Play it</button>
					<button class="btn btn3 col-xs-4 btn-height">Activity</button>

			</div>
</div>
</div>
<script type="text/javascript">
       var a=window.outerHeight;
			 console.log(a);
			 var b=$('#Quizzer').height(0.05*a);
			 console.log(b.height());
			 var c=$('.user').height(0.2*a);
			 var d=$('#Games').height(0.05*a);
			  var d=$('#GamesInfo').height(0.25*a);
				var e=$('#topics').height(0.05*a);
				var f=$('.topicsInfo').height(0.25*a);
				var g=$('#foot').height(0.1*a);
</script>
<!-- end container -->

	<!-- All Javascript at the bottom of the page for faster page loading -->

	<!-- First try for the online version of jQuery-->


	<!-- If no online access, fallback to our hardcoded version of jQuery -->



	<!-- Custom JS -->
	<!-- <script src="/js/userprofile.js"></script> -->
