<link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<div>
	<div class="container" id="main">
		<div class="row" id="Quizzer">
			<div class="col-xs-12">
				Quizart
			</div>
		</div>

		<div class="row user">
			<div class="col-xs-2">
				<img ng-src="{{data.imageLink}}"  width="120px" height="120px"  class="img-circle img-responsive pull-left">
			</div>
			<div class="col-xs-4 usermiddle">
				<span id="UserName">{{data.name}}
				</span>
				<span id="age">{{data.age}}</span>
				<div id="badge">{{data.badge}}</div>
				<span id="flag"><img ng-src="{{data.flagLink}}" alt="user image" width="30px" height="30px" class="img-rounded">
				</span>
				<span id="country">{{data.country}}</span>

			</div>

			<div class="col-xs-6" id="GamesInfo">
				<div class="row info">
				<div class=" col-xs-4" id="games">
					<img class="winpic" src ="/images/userProfileImages/game.png" class="img-circle img-responsive" >
					<p>Games</br>{{data.totalGames}}
					</p>
				</div>
				<div class="col-xs-4" id="win">
					<img class="winpic" src ="/images/userProfileImages/win.png" class="img-circle img-responsive" >
					<p>Wins</br>{{data.wins}}
					</p>
				</div>
				<div class="col-xs-4" id="winpercentage">
					<img class="winpic" src ="/images/userProfileImages/winpercent.png" class="img-circle img-responsive">
					<p>Win%<br>{{data.wins/data.totalGames*100 | number : 2}}%
					</p>
				</div>
		</div>
		</div>
	</div>
		<div class="row" id="topics">
			<div class="col-xs-12">
				Followed Topics
			</div>
		</div>
		<div class="row topicsinfo">
			<div class="col-xs-3 topicsholder" ng-repeat="topic in topicsFollowed|limitTo:a|orderBy:'-level'">
					<a><img ng-src="{{topic.topicId.topicIcon}}" ng-click="showFollowedTopic(topic.topicId._id)" class="img-rounded"></a>
				<div class="row">
					<div class="col-xs-12 col-sm-8">
						<span class="topicName">{{topic.topicId.topicName}}</span>
					</div>
					<div class="col-xs-12 col-sm-4">
						<span class="wins">{{topic.gamesWon}}/{{topic.gamesPlayed}}</span>
					</div>
				</div>
				<span class="badge">{{topic.level}}</span>
			</div>

				<div class="col-xs-3 topicsholder" ng-if="topicsFollowed.length>11">
					<div>
						<button ng-if="topicsFollowed.length>=8" ng-click="seeHide(topicsFollowed.length)"><img ng-src="{{btnImg}}" class="img-rounded"></button>
					</div>
	 	 </div>

		</div> <!-- end topicinfo row -->
		<div id="foot" class="row">
					<button class="btn btn1 col-xs-4 btn-height" ng-click="login()">Home</button>
					<button class="btn btn2 col-xs-4 btn-height" ng-click="play()">Play it</button>
					<button class="btn btn3 col-xs-4 btn-height">Activity</button>

			</div>
</div>
</div>
<script type="text/javascript">
       var a=window.outerHeight;
			 console.log(a);
			 var b=$('#Quizzer').height(0.1*a);
			 console.log(b.height());
			 var c=$('.user').height(0.25*a);
				var e=$('#topics').height(0.05*a);
				var f=$('.topicsinfo').height(0.5*a);
				var g=$('#foot').height(0.1*a);
</script>
<!-- end container -->

	<!-- All Javascript at the bottom of the page for faster page loading -->

	<!-- First try for the online version of jQuery-->


	<!-- If no online access, fallback to our hardcoded version of jQuery -->



	<!-- Custom JS -->
	<!-- <script src="/js/userprofile.js"></script> -->
